<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Costume</title>
</head>
<body>
<h3>Add a Costume</h3>

<hr/>

<a th:href="@{/}">Back to list</a>

<br/><br/>

<form th:action="@{/saveCostume}" th:object="${costume}" method="POST">

    <label for="name">Name:</label>
    <input type="text" th:field="*{name}" id="name"/>

    <label for="description">Description:</label>
    <input type="text" th:field="*{description}" id="description"/>

    <label for="actorName">Actor name:</label>
    <input type="text" th:field="*{actorName}" id="actorName"/>

    <label for="act">Act:</label>
    <input type="number" th:field="*{act}" id="act"/>

    <button type="submit">Add</button>
</form>
</body>
</html>