<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Costume Management</title>
</head>
<body>
<h3>Costumes</h3>

<hr/>

<a th:href="@{/addCostumeForm}">Add Costume</a>

<br/><br/>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Actor Name</th>
        <th>Act</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="costume: ${costumes}">
        <td th:text="${costume.name}"/>
        <td th:text="${costume.description}"/>
        <td th:text="${costume.actorName}"/>
        <td th:text="${costume.act}"/>
    </tr>
    </tbody>
</table>
</body>
</html>